# Project folders
artifacts/
data/
logs/
run_history/
artifact*/

END

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS/editor noise
.DS_Store
.vscode/
.idea/
